@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#storybook-root {
  font-family: "IBM Plex Serif", Garamond, serif;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

#storybook-root {
  padding: 15px;
}

#storybook-root p {
  padding-top: 15px;
  padding-bottom: 15px;
}

#storybook-root ul {
  padding-left: 30px;
}

#storybook-root h1 {
  text-align: center;
  padding-top: 20px;
}

#storybook-root pre {
  display: inline;
}

img.dep-logo {
  height: 35px;
}
